.user-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;

    border-radius: .5em;
    background-color: whitesmoke;

    padding: 1em;
    margin-block-end: 1em;
}