html {
    font-family: miriam, sans-serif;
    text-align: center;
    color: rgb(189, 189, 189);
}

body {
    min-height: 100vh;
    background: rgb(3, 63, 255);
    background: linear-gradient(0deg, rgba(3, 63, 255, 0.6111694677871149) 0%, rgba(0, 212, 255, 1) 100%);
    padding-block-end: 1em;
}

.btn {
    font-family: miriam;
    color: rgb(218, 218, 218);

    border: none;
    border-radius: .2em;
    background-color: transparent;

    padding: 0.5em;
    margin: 0.5em;
    transition: color .2s;
}

.btn:hover {
    color: rgb(189, 189, 189);
}