html {
    font-family: miriam, sans-serif;
    text-align: center;
    color: rgb(235, 235, 235);
}

body {
    height: 100vh;
    background: rgb(3, 63, 255);
    background: linear-gradient(0deg, rgba(3, 63, 255, 0.6111694677871149) 0%, rgba(0, 212, 255, 1) 100%);
}

.btn {
    font-family: miriam;
    font-weight: 600;
    color: rgb(184, 184, 184);

    border: none;
    border-radius: .2em;
    background-color: transparent;

    padding: 0.5em;
    margin: 0.5em;
}